@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'sono', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.hero{
    height: 100vh;
    width: 100%;
    background: url('../Images/banner1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    color: white;
    font-size: 28px;
}
span{
    color: red;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
    transition: .3s;
}
img.logo {
    height: 100px;
    width: 124px;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content p{
    margin: 20px;
    font-weight: 100;
    line-height: 25px;
}

/*About Section*/

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;
}
.about text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h3{
    color: rgb(255, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 55px
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 55px
}
.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    margin-left: 55px;
}
/*Skills*/

html {
    background: dimgray;
}
.section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
.section{
    background-color: #333;
    text-transform: uppercase;
}
h4{
    text-align: center;
    color: red;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h6{
    margin: 5px;
    color: rgb(240, 235, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.skill-6{
    width: 500px;
    margin: 60px auto;
    color: red;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.skill-6 li{
    padding: 10px;  
}
.bar{
    background: #52565e;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgb(223, 4, 51)0%, rgb(243, 27, 27)100%);
}    
::marker {
    color: transparent;
}
.Singing{
    width: 70%;
    animation: Singing 2s;
}
.Instrument{
    width: 20%;
    animation: Instrument 3s;
}
.leadership{
    width: 80%;
    animation: leadership 3s;
}
.Problem-solving{
    width: 80%;
    animation: Problem-solving 3s;
}
.Programming{
    width: 30%;
    animation: Programming 3s;
}
.Coding{
    width: 30%;
    animation: Coding 3s;
}
@keyframes Singing{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes Instrument{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
}
@keyframes leadership{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes Problem-solving{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes Programming{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes Coding{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

/*Projects*/

.title h7 {
    color: #f10404;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    margin-left: 443px;
    font-family: monospace;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 40px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f10404;
}
h8{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #f10404;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f10404;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

/*button{
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color: red;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.4);
    cursor: pointer;
}
*/



/* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sono', sans-serif;
}                                          
img.logo {
    margin-top: 11px;
    margin-left: 542px;
    height: 79px;
    width: 102px;
}
container {
    width: 1224px;
    text-align: center;
    margin: 0 auto;
}
.logo-container {
    display: inline-block;
}
h2 {
    text-transform: uppercase;
    color: white;
}
.nav-container {
    text-align: center;
}

nav.header-navigation {
    margin-right: -23px;
    margin-top: 9px
}

header {
    background: #000000;
}
* {
    margin: 0;
    padding: 0;
}
a {
    font-size: 14px;
    text-decoration: none;
    margin: 16px;
    color: white;
}
h1 {
    font-size: 26px;
    color: white;
    padding: 309px;
    font-weight: 300;
    font-variant: small-caps;
    margin-left: 268px;
}
/* Banner Styles 
.banner-section {
    background: url('../Images/banner1.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
}

/* About Me styles

.about-section h2 {
    text-align: center;
    color: white;

}
img{
    height: 440px;
    margin-top: 114px;
}
section.about-section {
    padding: 43px;
}

.about-right {
    width: 50%;
    float: right;
    text-align: justify;
    font-size: x-large;
}
.about-left {
    width: 50%;
    display: inline-block;
}
.container {
    width: 1224px;
    margin: 0 auto;
    height: 96px;
}
section.about-section {
    background: url('../Images/mooncat.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
}
.about-right p {
    margin-top: 68px;
    color: white;
    margin-right: 94px;
}

/*Skills styles 
section.Skills-section {
    background: url(../Images/bulb.jpg) no-repeat;
    height: 46vh;
    background-size: cover;
    margin-top: 2px;
    padding: 38px;
}    

h2 {
    text-transform: uppercase;
    text-align: center;
}
.Column {
    width: 26%;
    display: inline-grid;
}


/*Projects styles 
section.projects-section {
    background: url('../Images/yellow\ moon.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
    padding: 35px;
}
.bx {
    font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak-as: none;
    -webkit-font-smoothing: antialiased;
    color: white;
    -moz-osx-font-smoothing: grayscale;
}
section.projects-section h2 {
    text-align: center;
    color: white;
}
section.projects-section .Column {
    width: 28%;
    display: inline-block;
}
section.projects-section .Column span {
    margin: 0 auto 4px;
    text-align: center;
    font-size: 22px;
}
.row.\32 {
    margin-top: 22px;
}
.row.\31 {
    text-align: center;
    margin-top: 33px;
}
p {
    color: white;
}
/*contact styles 

section.contact-section {
    text-align: center;
    padding: 43px;
    background: #1e1a1a;
    height: 20vh;
}

.Column.\31 {
    margin-top: 29px;
    display: inline-block;
    width: 398px;
    font-size: 25px;
}   
a {
    font-size: 14px;
    text-decoration: none;
    margin: 16px;
    color: #ffffff;
}

/*bootstrap*/

style

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/*Carousel Item active*/

img, svg {
  vertical-align: middle;
  margin-top: auto;
}

/*Cover*/

.fw-bold {
  font-weight: 700!important;
  margin: 10px;
}
