@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Sono', sans-serif;
}                                          
img.logo {
    margin-top: 11px;
    margin-left: 586px;
    height: 79px;
    width: 102px;
}
container {
    width: 1224px;
    text-align: center;
    margin: 0 auto;
}
.logo-container {
    display: inline-block;
}
h2 {
    text-transform: uppercase;
    color: white;
}
.nav-container {
    text-align: center;
}

nav.header-navigation {
    margin-right: -23px;
    margin-top: 9px
}

header {
    background: #000000;
}
* {
    margin: 0;
    padding: 0;
}
a {
    font-size: 14px;
    text-decoration: none;
    margin: 16px;
    color: white;
}
h1 {
    font-size: 26px;
    color: white;
    padding: 309px;
    font-weight: 300;
    font-variant: small-caps;
    margin-left: 268px;
}
/* Banner Styles */
.banner-section {
    background: url('../Images/banner1.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
}

/* About Me styles */

.about-section h2 {
    text-align: center;
    color: white;

}
img {
    height: 440px;
    margin-top: 114px;
}
section.about-section {
    padding: 43px;
}

.about-right {
    width: 50%;
    float: right;
    text-align: justify;
    font-size: x-large;
}
.about-left {
    width: 50%;
    display: inline-block;
}
.container {
    width: 1224px;
    margin: 0 auto;
    height: 96px;
}
section.about-section {
    background: url('../Images/mooncat.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
}
.about-right p {
    margin-top: 218px;
    color: white;
    margin-right: 84px;
}

/*Skills styles */
section.Skills-section {
    background: url('../Images/bulb.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
}
h2 {
    text-transform: uppercase;
    text-align: center;
}


/*Projects styles */
section.projects-section {
    background: url('../Images/yellow\ moon.jpg') no-repeat;
    height: 87vh;
    background-size: cover;
}
section.projects-section h2 {
    text-align: center;
    color: white;
}
section.projects-section .Column {
    width: 28%;
    display: inline-block;
}
section.projects-section .Column span {
    margin: 0 auto 4px;
    text-align: center;
    font-size: 22px;
}
.row.\32 {
    margin-top: 22px;
}
.row.\31 {
    text-align: center;
    margin-top: 33px;
}
p {
    color: white;
}
/*contact styles */

section.contact-section {
    text-align: center;
    padding: 43px;
    background: #1e1a1a;
    height: 20vh;
}

.Column.\31 {
    margin-top: 29px;
    display: inline-block;
    width: 398px;
    font-size: 25px;
}   
a {
    font-size: 14px;
    text-decoration: none;
    margin: 16px;
    color: #ffffff;
}